.navbar{
	background-color: #333;
	border-style: solid;
}
.dropbtn {
  background-color: #003366;
  color: white;
  padding: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  text-shadow: 2px 2px 4px black, 2px 2px 4px black,2px 2px 4px black;
  border-right: 2px solid black;
 }

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
border-style: solid;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #333;
  text-shadow: 2px 2px 4px black, 2px 2px 4px black,2px 2px 4px black;

}

.dropdown-content a:hover {background-color: #808080; border: 2px solid black;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #004887;
}

.styletime{
	display: inline-block;
	padding: 1px 1px 1px 1px;
	color: #A9A9A9;
	text-shadow: 2px 2px 4px black, 2px 2px 4px black,2px 2px 4px black;

}
